################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NUnitTest/obj
/NUnitTest/bin/Debug/netcoreapp2.2
/ConsoleApp/obj
/ConsoleApp/bin/Debug/netcoreapp2.2
/.vs/LeetCode
